[% IF error %]
<div class="error">
[% error %]
</div>
[% END %]
<form method="post" action="[% c.uri_for('/auth/login') %]">
    <div><label>Username</label>: <input type="text" name="username"/></div>
    <div><label>Password</label>: <input type="text" name="password"/></div>
    <input type="submit" value="Login"/>
</form>
