<form action="[% c.uri_for('/auth/openid') %]" method="GET" name="openid">
 <input type="text" name="openid_identifier" class="openid" value="http://orlandov.myopenid.com/" />
 <input type="submit" value="Sign in with OpenID" />
 </form>
