<form method="post" action="[% c.uri_for('') %]">
    Name: <input type="text" name="username" /><br/>
    Title: <input type="text" name="title" /><br/>
    <textarea name="content"></textarea>
    <br/>
    <input type="submit" />
</form>
