[% USE date %]

[% IF message %]
<div class="message">
[% message %]
</div>
[% END %]

<div class="posts">
[% FOR post=posts %]
<div class="post">
    <div class="title">[% post.title %]</div>
    <div class="below-title">
        Posted by <a href="#" class="username">[% post.username %]</a> at
        <span class="date">[% date.format(post.timestamp) %]</span>
    </div>
    <div class="content">[% post.html %]</div>
</div>
[% END %]
</div>
